@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: url("../images/bg-tablet-pattern.svg") no-repeat;
    background-size: 40rem;
    background-position: 103% -7%;
}

#features {
    background-image: url("../images/bg-simplify-section-mobile.svg");
    background-repeat: no-repeat;
    background-size: 65rem;
    background-position: 94% 101%;}


#cta {
    background-image: url(../images/bg-simplify-section-desktop.svg);
    background-repeat: no-repeat;
    background-size: 65rem;
    background-position: 94% 101%;
}

@media (min-width: 1440px) {
    body {
        background: url("../images/bg-tablet-pattern.svg") no-repeat;
        background-size: 47rem;
        background-position: 101% -7%;
    }
}

@media (max-width: 768px) {
    body {
        background: url("../images/bg-tablet-pattern.svg") no-repeat;
        background-size: 35rem;
        background-position: 193% -4%;
    }
}

@media (max-width: 375px) {
    body {
        background: url("../images/bg-tablet-pattern.svg") no-repeat;
        background-size: 32rem;
        background-position: -49% -4%;
    }
}

@media (max-width: 375px) {
    #cta {
        background-image: url("../images/bg-simplify-section-desktop.svg");
        background-repeat: no-repeat;
        background-size: 75rem;
        background-position: 38% -57%;
}
}

a svg {
    height: 2rem;
}

a svg path {
    transition: fill 150ms ease-in-out;
}

a:hover svg path {
    fill: hsl(12, 88%, 59%);
}

#menuIcon {
    cursor: pointer;
  }

  /* Styling for the icons */
  #menuIcon svg {
    transition: transform 0.3s;
  }